html{
}

body{
	background: rgb(104, 187, 285);
	font-family: 'Libre Franklin', sans-serif;
}

#header{
	background-color: #7EC0E5;
	text-align: center;
	margin-top: 50px;
	padding-top: 25px;
	padding-bottom: 25px;
	border-radius: 25px;
}

#container{
}

#left-box{
	color: white;
	background-color: rgb(9, 30, 45);
	float: left;
	max-width: 22%;	
	padding: 55px 10px 55px 0;
	margin-top: 20px;
	border-radius: 25px;
}

#maphoto{
	width: 200px;
	/*margin: 0 auto;*/
	padding-top: 10px;
	padding-left: 40px;
	
}

#right-box{
	float: right;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	text-align: center;
	background: rgb(104, 187, 285);
	width: 70%;
	margin-right: 20px;
	margin-top: 20px;

}

ul{
	list-style-type: none;
}

#experience-box{
	background-color: white;
	width: 100%; 
	padding-top: 25px;
	margin: 0 0 20px 0;
	border-radius: 25px;
}

.experience{
	width: 70%;
	margin: 0 auto;
}

#studies-box{
	padding-top: 25px;
	width: 100%;
	background-color: white;
	margin: 0 0 20px 0;
	border-radius: 25px;

}

.study{
	width: 70%;
	margin: 0 auto;
}

p,.profil{
	text-align: center;
}

#footer{
	background-color: white;
	height: 70px;
	clear: both;
	width: 100%;
	margin: 0 auto;
	border-radius: 25px;
}
